.head-space-xl { margin-top: 60px; }

p.paragraph {
  font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', 'serif';
  line-height: 1.8em;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;

  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 30px 60px;
  border: 16px solid #f5f5f5;
}

p.paragraph span:hover {
  cursor: pointer;
  color: steelblue;
}

p.paragraph span.neighbor {
  margin-right: 5px;
}

div.swatch {
  height: 16px;
  width: 16px;
  float: left;
  margin-right: 16px;
}
